@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#menu-5 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
}
#header1-1 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
